<div class="row">
<div class="col-3">
  <app-sidenav></app-sidenav>
</div>
  <div class="col-9">
    <div class="dashboard-profile-card">
  <div class="card-background">
    
    <div class="card-header">
      <h1 class="welcome-message">WELCOME, {{profileObj.firstName | uppercase}} {{profileObj.lastName | uppercase}} !</h1>
      <button mat-icon-button class="settings-button">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    

    <div class="card-content">
      
      <div class="details-left">
        <div class="detail-group">
          <p class="detail-label">First Name</p>
          <h4 class="detail-value">
            {{profileObj.firstName}}
          </h4> 
        </div>
        <div class="detail-group">
          <p class="detail-label">Last Name</p>
          <h4 class="detail-value">
            {{profileObj.lastName}}
          </h4> 
        </div>
      </div>
      
      <div class="details-right">
        <div class="detail-group">
          <p class="detail-label">E-mail</p>
          <h4 class="detail-value">{{profileObj.email}}</h4>
        </div>
        <div class="detail-group">
          <p class="detail-label">Contact Number</p>
          <h4 class="detail-value">
            {{profileObj.phone}}
          </h4> 
        </div>
      </div>
    </div>
    
    <div class="profile-image-container">
      <img [src]="profileObj.image" alt="User Profile" class="profile-picture"/>
    </div>

    
  </div>
</div>
  </div>
</div>